<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perpustakaan</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>DATA BUKU PERPUSTAKAAN</h1>
        
        <table border="1">
            <thead>
                <tr>
                    <th>NOMER</th>
                    <th>JUDUL BUKU</th>
                    <th>PENULIS</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="prps : ${daftarPerpus}">
                    <td th:text="${prps.id}"></td>
                    <td th:text="${prps.judul_buku}"></td>
                    <td th:text="${prps.penulis}"></td>
                    <td>
            <a th:href="@{/edit(id=${prps.id})}">
                Ubah
            </a>
                    </td>
                    <td>
            <a th:href="@{/hapus(id=${prps.id})}">
                Hapus
            </a>
                    </td>
                </tr>
            </tbody>
         <tfoot>
                <tr>
                  <td>
                      <a href="/tambah-data.html">
                          Tambah
                      </a>
                  </td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
